{% extends "layout.html" %}
{% block content %}
<div align="center">
<a class="btn btn-secondary btn-lg btn-block mt-4" href="{{link2}}" style="width: 75%">Transaction</a>
<a class="btn btn-secondary btn-lg btn-block mt-4" href="{{link3}}" style="width: 75%">Modify Member</a>
<a class="btn btn-secondary btn-lg btn-block mt-4" href="{{link4}}" style="width: 75%">View Members</a>
<a class="btn btn-secondary btn-lg btn-block mt-4" href="{{link5}}" style="width: 75%">Create New Member</a>
</div>
{% endblock content %}
